# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Docker.gitlab-ci.yml

# Build a Docker image with CI/CD and push to the GitLab registry.
# Docker-in-Docker documentation: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html
#
# This template uses one generic job with conditional builds
# for the default branch and all other (MR) branches.

# N.B. to use the CI_REGISTRY_USER and CI_REGISTRY_PASSWORD variables we must have an access token
# created under the name of "gitlab-deploy-token" with access rights to the gitlab docker registry
# and then gitlab can use the registry for this runner.

docker-build:
  # Use the official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = ':latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - ls -l $MY_CI_SSH_KEY_FILE
    - chmod 600 $MY_CI_SSH_KEY_FILE
    - pwd
    - cd build/docker
    - ssh jbowden@$MY_CI_REMOTETEST_HOST -i $MY_CI_SSH_KEY_FILE 'bash -s' < ../../test/run_on_remote.sh
    # - DOCKER_BUILDKIT=1 docker build --no-cache --pull -t "$CI_REGISTRY_IMAGE${tag}" --secret id=thepassword,src=$MY_CI_READ_REPO_PWD --build-arg INPUT_damaris_ver=$CI_COMMIT_BRANCH --build-arg INPUT_repo=$CI_PROJECT_NAME -f ./Dockerfile.ubuntu20 .
    # - docker push "$CI_REGISTRY_IMAGE${tag}"
  # Run this job in a branch where a Dockerfile exists
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - build/docker/Dockerfile.ubuntu20
  #artifacts:
  #  when: always
  #  reports:
  #    junit: report.xml

