<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<simulation name="my lovely simulation" language="fortran">
	<nodes>
		<cores  count="16"/>
		<buffer name="my sweet shared memory segment" size="67108864"/>
		<queue  name="my cute message queue" size="100"/>
	</nodes>
	<data>
		<parameter name="my useful parameter" type="int" value="AA" />
		<layout name="my layout" type="float" dimensions="16,32,64" />
		<variable name="my variable" layout="my layout"> this is an example of metadata </variable>
	</data>
	<actions>
		<event name="my event" action="do_something" using="plugin.so"/>
	</action>
</simulation>
