<?xml version="1.0"?>
<simulation name="my simulation" language="fortran">
	<architecture>
		<cores  count="16">
			<clients count="15"/>
		</cores>
		<buffer name="/home/matthieu/Work/damaris/trunk/server/test3" size="67108864" />
		<queue  name="/home/matthieu/Work/damaris/trunk/server/test2" size="100" />
	</architecture>
	<data>
		<parameter name="x" type="int" value="42" />

		<layout name="my layout" type="float" dimensions="64,16,2" />
		<layout name="str layout" type="char" dimensiones="128" />
		<group name="info" enabled="yes">
			<variable name="my string" layout="str layout"/>
		</group>

		<variable name="my variable" layout="my layout"> this is an example of metadata </variable>
	</data>
	<actions>
		<event name="dump" action="dump_hdf5" using="persistence.so"/>
	</actions>
</simulation>
